/* Navbar */

.navbar .navbar-nav {
    display: inline-block;
    float: none;
    font: 12px 'opensans-bold';
}

.navbar-default .navbar-nav > li > a{
  color: #FFF;
}


@media(max-width:770px){
  .navbar-default .navbar-nav > li > a{
    background-color: #333;
  }
  .navbar-default .navbar-nav > li > a:focus {
    background-color: #333;
    color: #337ab7;
  }
}



.navbar .navbar-collapse {
    text-align: center;
}

.navbar-wrapper {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  margin: 0 auto;
  z-index: 20;
  font: 12px 'opensans-bold';
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.navbar-default {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
}

/* Fonts */

h2{
  font-weight: 700;
  font: 'roboto-Bold';
}


html, body {
    height: 100%;
}

/* Home Backgroung */

.home{
   position: relative;
   display: block;
   height: 100%;
   width: auto;
   background-color: #222222;
   background: #161415 url(../images/img1.jpg) no-repeat top center;
   background-attachment: scroll;
   -webkit-background-size: cover;
   -moz-background-size: cover;
   background-size: cover;
   padding: 100px 0;
}

/* Home Content */

.home-content {
    text-align: center;
    width: 80%;
    margin: auto;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

@media(min-width:767px){
  .home-content{
    width: 50%;
  }
}


.home-content .title{
  font: 30px/1.1em 'opensans-bold';
  color: white;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
}


@media(min-width:767px){
  .home-content .title{
    font: 45px/1.1em 'opensans-bold';
  }
}

.home-content .subtitle{
  font: 20px/1.1em 'roboto-Light';
  color: white;
  text-shadow: 0px 1px 3px rgba(0, 0, 0, .8);
  margin-top: 15px;
}

/*Social*/

.home-content .social {
   margin: 24px 0;
   padding: 0;
   font-size: 30px;
   text-shadow: 0px 1px 2px rgba(0, 0, 0, .8);
}

.home-content .social li {
   display: inline-block;
   margin: 0 15px;
   padding: 0;
}

/* Scrolldown */
.scroll-down {
  position: absolute;
  width: 100%;
  bottom: 20px;
  text-align: center;
}

.scroll-down .btn {
  height: 50px;
  width: 50px;
  border: 2px solid white;
  border-radius: 100% !important;
  line-height: 50px;
  padding: 0;
  letter-spacing: normal;
  color: white;
  font-size: 30px;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  transition: all 0.5s;
}

.scroll-down .btn:hover {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.5);
  outline: none;
}


/* Section */
/*
section {
  padding: 20px 0;

}

@media(min-width:767px){
  section {
    padding: 100px 0;

  }
}
*/

/* About */

.pad{
  padding-right: 50px;
  padding-left: 50px;
}

p{
  padding-right: 10px;
  padding-left: 10px;
}



#about{
    background: #2B2B2B;

}

#about h1{
  color: white;
}

#about p{
  color: white;
}


#about h3{
  color: white;
}

#about .download .button {
    margin-top: 6px;
    background: #444;
}


.vertical-center {
  min-height: 100%;  /* Fallback for browsers do NOT support vh unit */
  min-height: 15vh; /* These two lines are counted as one :-)       */

  display: flex;
  align-items: center;
}

/* Project */

#projects{
    background: #7C7C7C;
}

#projects a {
    color: #355691;
}

#projects p{
  color: white;
  text-align: justify;
}

#projects h2{
  color: #fff;
}

#projects h3{
  color: white;
}

#projects h2 span{
  border-bottom: 3px solid #11ABB0;
  padding-bottom: 6px;
}

#projects ul { padding-left:30px; list-style:none; font: 25px/1.1em 'roboto-Light'; }
#projects li { margin-bottom:30px; margin-top:30px; }

/*
#projects li:before {
    font-family: 'FontAwesome';
    content: '\f111';
    margin:20px 25px 5px 15px;
}
*/



/* Resume */

#resume{
  padding-bottom: 100px;
}

@media(min-width:767px){
  #resume{
    padding-left: 150px;
    padding-right: 150px;
    padding-bottom: 100px;
  }
}

@media(min-width:767px){
  #resume .space{
    padding-bottom: 30px;
  }
}


#resume h2{
  font-weight: 700;
  font: 'roboto-Bold';
}


/*#resume h3{
  font: 20px/1.1em 'roboto-Bold';
}*/

.bold{
  font: 20px/1.1em 'roboto-Bold';
}

.it{
  font: 20px/1.1em 'roboto-Italic';
}


#resume{
  font: 20px/1.1em 'roboto-Bold';
}


#resume h2 span{
  border-bottom: 3px solid #11ABB0;
  padding-bottom: 6px;
}

#resume h2{
  display: block;
  -webkit-margin-before: 0.83em;
  -webkit-margin-after: 0.83em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
}

/* SECTION TITLE
----------------------------------------------------- */
.section-title {
    margin-bottom: 80px;
    text-align: center;
    font-size: 50px;
    line-height: 50px;
    color: #2c3e50;
    position: relative;
}

.section-title::after {
    content: "";
    background: url(../images/section-divider.png) no-repeat 0 0;
    height: 15px;
    width: 113px;
    position: absolute;
    left: 0;
    right: 0;
    bottom: -40px;
    margin: 0 auto;
}

#resume #col1{
  //background-color: yellow;
}

#resume #col2{
  //background-color: pink;
}


/* Scrolldown */

.scrolldown a:hover { color: #12b4ba; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* General */

h1 {
  font: 52px/1.1em 'roboto-Bold';
}

p{
  font: 18px/1.1em 'roboto-Light';
  line-height: 1.5;
}


@media (min-width: 768px) {

}


@font-face {
    font-family: 'open_sansregular';
    src: url('../fonts/OpenSans-Regular-webfont.eot');
    src: url('../fonts/OpenSans-Regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Regular-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Regular-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Regular-webfont.svg#open_sansregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'opensans-bold';
    src: url('../fonts/OpenSans-Bold-webfont.eot');
    src: url('../fonts/OpenSans-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/OpenSans-Bold-webfont.woff') format('woff'),
         url('../fonts/OpenSans-Bold-webfont.ttf') format('truetype'),
         url('../fonts/OpenSans-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'roboto-Light';
    src: url('../fonts/Roboto-Light-webfont.eot');
    src: url('../fonts/Roboto-Light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Light-webfont.woff') format('woff'),
         url('../fonts/Roboto-Light-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Light-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'roboto-Bold';
    src: url('../fonts/Roboto-Bold-webfont.eot');
    src: url('../fonts/Roboto-Bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Bold-webfont.woff') format('woff'),
         url('../fonts/Roboto-Bold-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Bold-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'roboto-Italic';
    src: url('../fonts/Roboto-Italic-webfont.eot');
    src: url('../fonts/Roboto-Italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Roboto-Italic-webfont.woff') format('woff'),
         url('../fonts/Roboto-Italic-webfont.ttf') format('truetype'),
         url('../fonts/Roboto-Italic-webfont.svg#open_sansbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* === Resume Section === */

/*---------------------------------------------------------
Resume Timeline
-----------------------------------------------------------*/
.resume-title h3{
    text-align: center;
}
.resume-section > div > div{
    margin-bottom: 60px;
}
.resume-section > div > div:nth-of-type(2){
    margin-bottom: 0;
}
.resume-title{
    margin-bottom: 30px;
}
.timeline {
    position: relative;
    padding: 0;
    list-style: none;
}

.resume{
    position: relative;
}

.resume:before{
    content: "";
    position: absolute;
    top: -8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.resume:after{
    content: "";
    position: absolute;
    bottom: -8px;
    width: 10px;
    height: 10px;
    background-color: #e1e1e1;
    left: 50%;
    margin-left: -6px;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}

.timeline:before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    width: 2px;
    margin-left: -1.5px;
    background-color: #e1e1e1;
}

.timeline>li {
    position: relative;
    margin-bottom: 50px;
    min-height: 50px;
}

.timeline>li:before,
.timeline>li:after {
    content: " ";
    display: table;
}

.timeline>li:after {
    clear: both;
}

.timeline>li .timeline-panel {
    float: left;
    position: relative;
    width: 100%;
}

.timeline-content{
    padding:5px 20px 0 20px;
}

.timeline>li .timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li .timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li .posted-date {
    position: relative;
    text-align: center;
    background-color: #fff;
    left: 20px;
}


.timeline>li .posted-date .month {
    font-size: 18px;
    line-height: 20px;
    font-weight: 700;
    display: block;
    color: #2c3e50;
    top: 0;
    float: left;
}

.timeline>li.timeline-inverted>.timeline-panel {
    float: right;
    text-align: left;
}

.timeline>li.timeline-inverted>.timeline-panel:before {
    right: auto;
    left: -15px;
    border-right-width: 15px;
    border-left-width: 0;
}

.timeline>li.timeline-inverted>.timeline-panel:after {
    right: auto;
    left: -14px;
    border-right-width: 14px;
    border-left-width: 0;
}

.timeline>li:last-child {
    margin-bottom: 0;
}

.timeline-heading h3 {
    font-size: 20px;
    line-height: 28px;
}
.timeline-heading span{
    display: block;
    font-weight: 700;
    margin-bottom: 20px;
}

.timeline:before {
    left: 50%;
}

.timeline>li {
    margin-bottom: 15px;
    min-height: 100px;
}

.timeline>li .posted-date {
    position: absolute;
    text-align: center;
    background-color: #fff;
}

.timeline>li .timeline-panel {
    float: left;
    width: 43%;
    text-align: right;
    border: 1px solid #eee;
    position: relative;
}

.timeline-content{
    position: relative;
    padding: 24px;
    background-color: #fff;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}

.timeline-content::after{
    border: 1px solid #eee;
    width: 100%;
    position: absolute;
    content: "";
    bottom: -3px;
    height:10px;
    left: 0;
    z-index: -1;
}

.timeline>li .timeline-content:hover {
    background: #729ada;
    color: #fff;
}

.timeline>li .timeline-panel::before,
.timeline>li.timeline-inverted .timeline-panel::before {
    content: "";
    top: 25px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline>li .timeline-panel::before {
    left: 100%;
    border-left: 12px solid #ECECEC;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
.timeline>li .timeline-panel:hover::before {
    border-left: 12px solid #68c3a3;
}

.timeline>li.timeline-inverted .timeline-panel::before {
    right: 100%;
    border-right: 12px solid #ECECEC;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
.timeline>li.timeline-inverted .timeline-panel:hover::before {
    border-right: 12px solid #68c3a3;
    border-left: 0;
}

.timeline>li .timeline-panel::after,
.timeline>li.timeline-inverted .timeline-panel::after {
    content: "";
    top: 25px;
    position: absolute;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
}
.timeline>li .timeline-panel::after {
    left: 100%;
    margin-left: -2px;
    border-left: 12px solid #FFFFFF;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
.timeline>li .timeline-panel:hover::after {
    border-left: 12px solid #68c3a3;
}

.timeline>li.timeline-inverted .timeline-panel::after {
    right: 100%;
    margin-right:-2px;
    border-right: 12px solid #FFFFFF;
    -webkit-transition:all 400ms;
    -moz-transition:all 400ms;
    -o-transition:all 400ms;
    transition: all 400ms;
}
.timeline>li.timeline-inverted .timeline-panel:hover::after {
    border-right: 12px solid #68c3a3;
    border-left: 0;
}

.timeline>li .posted-date {
    left: 50%;
    width: 120px;
    margin-left: -60px;
    margin-top: 28px;
}
.timeline>li .posted-date .month {
    float: none;
}

/* Carousel */


.carousel{
  height: 100%;
  width: 100%;
}


.carousel img {
  max-width: 100%;
  width: auto;
  height: auto;
  margin: 0 auto;
}

.top-buffer { margin-top:40px; }


/* centered columns styles */
.row-centered {
    text-align:center;
}
.col-centered {
    display:inline-block;
    float:none;
    /* reset the text-align */
    text-align:left;
    /* inline-block space fix */
    margin-right:-4px;
}

.skills-section {
    background-color: #333;
    color: white;
}

#skills h2{
  color: #fff;
  margin-bottom: 110px;
}

.chart {
    position: relative;
    display: inline-block;
    width: 140px;
    height: 140px;
    margin: 40px auto;
    text-align: center;
}



/* === MAIN === */
.section-padding {
	padding: 120px 0 100px;
}

/* === Bg Section === */
.separate-section {
    background: url(../images/counter-bg.jpg) no-repeat top center #68C3A3;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}
.separate-section-bg {
    padding: 110px 0;
    background: -webkit-linear-gradient(bottom, #68C3A3, rgba(104, 195, 163, 0.7)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, #68C3A3, rgba(104, 195, 163, 0.7)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top, #68C3A3, rgba(104, 195, 163, 0.7)); /*Fx 3.6-15*/
    background: linear-gradient(to top, #337ab7, rgba(153, 204, 255, 0.7)); /*Standard*/
}

.separate-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.separate-section .btn {
    padding: 9px 54px;
}

/* === Hire Section === */
.hire-section {
    background: url(../images/counter-bg.jpg) no-repeat top center #68C3A3;
    background-attachment: fixed;
    background-size: cover;
    color: #fff;
}
.hire-section-bg {
    padding: 110px 0;
    background: -webkit-linear-gradient(bottom, #68C3A3, rgba(104, 195, 163, 0.7)); /*Safari 5.1-6*/
    background: -o-linear-gradient(top, #68C3A3, rgba(104, 195, 163, 0.7)); /*Opera 11.1-12*/
    background: -moz-linear-gradient(top, #68C3A3, rgba(104, 195, 163, 0.7)); /*Fx 3.6-15*/
    background: linear-gradient(to top, #337ab7, rgba(153, 204, 255, 0.7)); /*Standard*/
}

.hire-section h2 {
    font-size: 36px;
    margin-bottom: 40px;
}

.hire-section .btn {
    padding: 9px 54px;
}

/* === Footer === */

.footer-wrapper {
    background: #1a1e23;
    padding: 36px 0;
    color: #fff;
}
