<div class="container wow fadeIn">
    <div class="row">
        <div class="col-md-6 pad">
            <img src="images/nevado.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-6 text-center">
          <div class="row">
            <h3>About me</h3>
            <p>
              I am a full stack software developer.
              Currently specializing on high-performance computing and
              software engineering at the University of Edinburgh.
              I love creating new things.
              My favorite programming language is Java,
              but I also love web development.
              On my free time, I like to travel,
              listening music and jogging.
              Currently looking for opportunities in software industry
            </p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h3>Contact Details</h3>
              <p>beto4812@hotmail.com</p>
              <!--<p>07497687247</p>-->
            </div>
            <div class="col-sm-6 download text-center">
              <div clas="row"><br></div>
              <a href="https://www.dropbox.com/s/qc9i23vz5oobiew/CVT.pdf?dl=0" target="_blank" class="btn btn-lg btn-primary"><i class="fa fa-download"></i> Download Resume</a>
            </div>
          </div>
        </div>
    </div>
</div>
