<div class="container wow fadeIn">
    <div class="row">
        <div class="col-md-6 pad">
            <img src="images/nevado.jpg" class="img-responsive" alt="">
        </div>
        <div class="col-md-6 text-center">
          <div class="row">
            <h3>About me</h3>
            <p>
              I am a software engineer and computer scientist from
              The university of Edinburgh currently working as a Java consultant at Accenture.
              I love creating new things and I am passionate about data and new technologies.
              My favorite programming language is Java,
              but I also love web development.
              On my free time, I like to travel,
              listening music and jogging.
            </p>
          </div>
          <div class="row">
            <div class="col-sm-6">
              <h3>Contact Details</h3>
              <p>beto4812@hotmail.com</p>
            </div>
            <div class="col-sm-6 download text-center">
              <div clas="row"><br></div>
              <a href="https://www.dropbox.com/s/8llbah6ntj0spo4/CVT21November2016.pdf?dl=0" target="_blank" class="btn btn-lg btn-primary"><i class="fa fa-download"></i> Download Resume</a>
            </div>
          </div>
        </div>
    </div>
</div>
