<div class="container">
	<h2 class="section-title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Awards</h2>
					<div class="row row-centered">
							<div class="col-sm-6">
									<h3 class="bold">Recognition to outstanding students in science and acknowledgments technology​.<h3>
										<p> ​COMECYT (Mexican Counsil for Science and Technology).<p>
								</div>
							<div class="col-sm-6">
								<h3 class="it">Mexico City, Mexico</h3>
								<p>January 2015­ June 2015</p>
							</div>
						</div>
						<div class="row row-centered">
								<div class="col-sm-6">
										<h3 class="bold">Robocup Joao Pessoa 2014 <a href="http://www.robocup2014.org/" target="_blank"><i class="fa fa-external-link"></i></a><h3>
											<p>Third international place (​Festo Logistics League​)<p>
									</div>
								<div class="col-sm-6">
									<h3 class="it">Joao Pessoa, Brazil</h3>
									<p>July 2014.</p>
								</div>
							</div>
							<div class="row row-centered">
									<div class="col-sm-6">
											<h3 class="bold">9nth UVM­Festo automation challenge<h3>
											<p>First national place (​Mobile Robotics​)<p>
										</div>
									<div class="col-sm-6">
										<h3 class="it">Toluca, Mexico</h3>
										<p>August 2007 – August 2010</p>
									</div>
							</div>
							<div class="row row-centered">
									<div class="col-sm-6">
											<h3 class="bold">Robocup Eindhoven 2013  <a href="http://www.robocup2013.org/" target="_blank"><i class="fa fa-external-link"></i></a><h3>
											<p>Participation on the Festo Logistics League<p>
										</div>
									<div class="col-sm-6">
										<h3 class="it">Eindhoven, Netherlands</h3>
										<p>July 2013</p>
									</div>
							</div>
							<div class="row row-centered">
									<div class="col-sm-6">
											<h3 class="bold">8th UVM­Festo automation challenge<h3>
											<p>First National place (​Mobile Robotics​)<p>
										</div>
									<div class="col-sm-6">
										<h3 class="it">Queretaro, Mexico</h3>
										<p>October 2012</p>
									</div>
							</div>
							<div class="row row-centered">
									<div class="col-sm-6">
											<h3 class="bold">Robocup Mexico 2012 <a href="http://www.robocup2012.org/" target="_blank"><i class="fa fa-external-link"></i></a><h3>
											<p>Third International place (​Festo Logistics League​)<p>
										</div>
									<div class="col-sm-6">
										<h3 class="it">Mexico City, Mexico</h3>
										<p>July 2012</p>
									</div>
							</div>
							<div class="row row-centered">
									<div class="col-sm-6">
											<h3 class="bold">7th UVM­Festo automation challenge<h3>
											<p>First National place (​Mobile Robotics​)<p>
										</div>
									<div class="col-sm-6">
										<h3 class="it">Mexico City, Mexico</h3>
										<p>October 2011</p>
									</div>
							</div>
</div>
