<div class="home-content">
      <div class="title">Alberto Vazquez</div>
      <p class="subtitle">Full-stack software developer studying a computer science MsC at Edinburgh University.
        Here you can get to know a bit more about me. </p>
        <ul class="social">
                       <li><a href="https://github.com/beto4812" target="_blank"><i class="fa fa-github"></i></a></li>
                       <li><a href="https://www.facebook.com/beto4812" target="_blank"><i class="fa fa-facebook"></i></a></li>
                       <li><a href="https://plus.google.com/u/0/+AlbertoVazquez4812" target="_blank"><i class="fa fa-google-plus"></i></a></li>
                       <li><a href="https://uk.linkedin.com/in/alberto-vazquez-25539837" target="_blank"><i class="fa fa-linkedin"></i></a></li>
                       <li><a href="https://www.instagram.com/beto4812/" target="_blank"><i class="fa fa-instagram" target="_blank"></i></a></li>
        </ul>
</div>
<div class="scroll-down">
            <a class="btn page-scroll" href="#" scroll-to="about"><i class="fa fa-angle-down fa-fw"></i></a>
</div>
