<div class="container wow fadeIn">
    <div class="row">
          <div class="row">
            <h2><span>Projects<span></h2>
              <ul>
                <li>Robocup competitions distributed system</li>
                <div class="col-md-6 text-center">
                  <p>Alongside the robotics university team, I developed a distributed system for the national and international competitions, winning all national contests held by the university and obtaining important achievements on the international contests. This system experienced multiple improvements through more than three years of participation, but some of the technologies used were: Java (Mainly developed in java), OpenCV and Google protocol buffers. The image on the right is from the Robocup 2014, in Brazil. Two of our robots are working together to complete final products. <a href="http://www.robocup-logistics.org/">Here you can read more about the competition.</a></p>
                </div>
                <div class="col-md-6 text-center">
                  <div><img src="images/robocup.jpg"></div>
                </div>
                <li>AirQueue Android App</li>
                <div class="col-md-6 text-center">
                  <div><img src="images/airqueue.png"></div>
                </div>
                <div class="col-md-6 text-center">
                  <p>As part of my dissertation for my master's degree, I developed an android application which provides personalised health advice given a person's special circumstances. For instance, very air-pollution sensitive people can configure it to indicate so, and receive advice accordingly. Some technologies involved in the development were: Java (For android and the back end), CLIPS (For a rule-based expert system), Amazon EC2, Amazon Dynamo, Python and Scrappy as a web crawler.  <a href="https://play.google.com/store/apps/details?id=com.beto4812.airqueue&hl=en_GB">You can download de app from here.</a></p>
                </div>
              </ul>
          </div>
    </div>
</div>
