
<div class="container wow fadeIn">
  <div class="row">
        <h2 class="section-title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Projects</h2>
  </div>
  <div class="row">
                  <div class="col-md-7">
                    <h3 class="text-bold text-capitalize mb-30">Robocup competitions distributed system</h3>
                    <p>Alongside the robotics university team, I developed a distributed system for the national and international competitions, winning all national contests held by the university and obtaining important achievements on the international contests. This system experienced multiple improvements through more than three years of participation, but some of the technologies used were: Java (Mainly developed in java), OpenCV and Google protocol buffers. <a href="http://www.robocup-logistics.org/">Here you can read more about the competition.</a></p>
                  </div><!-- /.col-md-7 -->
                  <div class="col-md-5 mt-sm-50">
                  <carousel links="robocupCarousel" carousel-id="carousel1" ></carousel>
                  </div><!-- /.col-md-5 -->
  </div>
  <div class="row top-buffer">
                  <div class="col-md-5 mt-sm-50">
                  <carousel links="airQueueCarousel" carousel-id="carousel2" ></carousel>
                  </div><!-- /.col-md-5 -->
                  <div class="col-md-7">
                    <h3 class="text-bold text-capitalize mb-30">AirQueue Android App</h3>
                    <p>As part of my dissertation for my master's degree, I developed an android application which provides personalised health advice given a person's special circumstances. For instance, very air-pollution sensitive people can configure it to indicate so, and receive advice accordingly. Some technologies involved in the development were: Java (For android and the back end), CLIPS (For a rule-based expert system), Amazon EC2, Amazon Dynamo, Python and Scrappy as a web crawler.  <a href="https://play.google.com/store/apps/details?id=com.beto4812.airqueue&hl=en_GB">You can download de app from here.</a></p>
                  </div><!-- /.col-md-7 -->
  </div>
</div>
