<div class="container-fluid">
  <div class="row space">
        <div class="col-md-4" id="col1">
            <h2><span>Education<span></h2>
        </div>
        <div class="col-md-8" id="col2">
          <div class="row">
              <div class="col-sm-6">
                  <h3>Student at University Of Edinburgh<h3>
                    <p>Msc Computer Science. Computer Systems, Software Engineering, and High Performance Computing<p>
                </div>
              <div class="col-sm-6">
                <h3>Edinburgh, Scotland</h3>
                <p>Expected graduation date: August 2016</p>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3>Universidad del Valle de México Campus Toluca<h3>
                      <p>Computer Systems Engineering. Grade point average: 9.74 out of 10<p>
                  </div>
                <div class="col-sm-6">
                  <h3>Toluca, Mexico</h3>
                  <p>August 2010 ­ December 2014</p>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <h3>Universidad del Valle de México Campus Toluca<h3>
                      <p>High school. Grade point average: 9.8 out of 10<p>
                    </div>
                  <div class="col-sm-6">
                    <h3>Toluca, Mexico</h3>
                    <p>August 2007 – August 2010</p>
                  </div>
                </div>
        </div>
    </div>
    <div class="row space">
          <div class="col-md-4" id="col1">
              <h2><span>Experience<span></h2>
          </div>
          <div class="col-md-8" id="col2">
            <div class="row">
                <div class="col-sm-6">
                    <h3>Java Junior Developer at Salinas Group<h3>
                      <p>Front­end and back­end developer. Developed private web applications for Elektra and Blockbuster.<p>
                  </div>
                <div class="col-sm-6">
                  <h3>Mexico City, Mexico</h3>
                  <p>January 2015­ June 2015</p>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <h3>Developer at Ford Motor Company (Intern)<h3>
                        <p>Analysis, design, development and implementation of web application to automate business process.<p>
                    </div>
                  <div class="col-sm-6">
                    <h3>Mexico City, Mexico</h3>
                    <p>September 2014­ January 2015</p>
                  </div>
                </div>
          </div>
      </div>
      <div class="row space">
            <div class="col-md-4" id="col1">
                <h2><span>Awards<span></h2>
            </div>
            <div class="col-md-8" id="col2">
              <div class="row">
                  <div class="col-sm-6">
                      <h3>Recognition to outstanding students in science and acknowledgments technology​.<h3>
                        <p> ​COMECYT.<p>
                    </div>
                  <div class="col-sm-6">
                    <h3>Mexico City, Mexico</h3>
                    <p>January 2015­ June 2015</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3>Robocup Joao Pessoa 2014 <h3>
                          <p>Third international place (​Festo Logistics League​)<p>
                      </div>
                    <div class="col-sm-6">
                      <h3>Joao Pessoa, Brazil</h3>
                      <p>July 2014.</p>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <h3>9nth UVM­Festo automation challenge<h3>
                          <p>First national place (​Mobile Robotics​)<p>
                        </div>
                      <div class="col-sm-6">
                        <h3>Toluca, Mexico</h3>
                        <p>August 2007 – August 2010</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <h3>Robocup Eindhoven 2013<h3>
                          <p>Sixth International place (​Festo Logistics League​)<p>
                        </div>
                      <div class="col-sm-6">
                        <h3>Eindhoven, Netherlands</h3>
                        <p>July 2013</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <h3>8th UVM­Festo automation challenge<h3>
                          <p>First National place (​Mobile Robotics​)<p>
                        </div>
                      <div class="col-sm-6">
                        <h3>Queretaro, Mexico</h3>
                        <p>October 2012</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <h3>Robocup Mexico 2012<h3>
                          <p>Third International place (​Festo Logistics League​)<p>
                        </div>
                      <div class="col-sm-6">
                        <h3>Mexico City, Mexico</h3>
                        <p>July 2012</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <h3>7th UVM­Festo automation challenge<h3>
                          <p>First National place (​Mobile Robotics​)<p>
                        </div>
                      <div class="col-sm-6">
                        <h3>Mexico City, Mexico</h3>
                        <p>October 2011</p>
                      </div>
                  </div>
            </div>
        </div>
        <div class="row space">
              <div class="col-md-4" id="col1">
                  <h2><span>Skills<span></h2>
              </div>
              <div class="col-md-8" id="col2">
                <div class="row">
                    <div class="col-sm-4">
                        <h3>Networking​<h3>
                          <p>CISCO CCNA Routing and Switching <p>
                    </div>
                    <div class="col-sm-4">
                      <h3>Programming languages</h3>
                      <p>​C, C#, Java </p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Web develop<h3>
                        <p>PHP, HTML5, XML, CSS, JQuery, Ajax, JSON, Javascript, AngularJS<p>
                    </div>
                </div>
                    <div class="row">
                      <div class="col-sm-4">
                          <h3>Mobile develop<h3>
                          <p>Android, Apache Cordova<p>
                      </div>
                      <div class="col-sm-4">
                          <h3>Application servers<h3>
                          <p>Tomcat, Glasfish, JBoss<p>
                      </div>
                      <div class="col-sm-4">
                          <h3>Database​<h3>
                          <p>MySQL, PostgreSQL, SQLServer<p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                          <h3>Operating systems<h3>
                          <p>Windows, Linux (Fedora, Ubuntu, Debian)<p>
                      </div>
                      <div class="col-sm-4">
                          <h3>Distributed computing<h3>
                          <p>Hadoop<p>
                      </div>
                      <div class="col-sm-4">
                          <h3>IDE<h3>
                          <p>​Netbeans, Eclipse, Visual Studio<p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                          <h3>Mobile robotics<h3>
                          <p>​ROS, Artificial vision (OpenCV, JavaCV, IJ), Expert Systems<p>
                      </div>
                      <div class="col-sm-4">
                          <h3>Languages<h3>
                          <p>English:​ Advanced. Spanish: Native<p>
                      </div>
                    </div>

              </div>
          </div>
</div>
