<div class="container">
				<h2 class="section-title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Resume</h2>
				<div class="row">
					<div class="col-md-12">
						<div class="resume-title">
							<h3>Experience</h3>
						</div>
						<div class="resume">
							<ul class="timeline">

								<li>
									<div class="posted-date">
										<span class="month">2016</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Scala Developer</h3>
												<span>Sumdog <a href="https://www.sumdog.com/" target="_blank"><i class="fa fa-external-link"></i></a> | Edinburgh, United Kingdom</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>Part-time student developer.<p>
	                      <p>Developed in Scala to provide logic for educational video games.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div><!-- /timeline-panel -->
								</li>

								<li class="timeline-inverted">
									<div class="posted-date">
										<span class="month">2015</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Java Developer</h3>
												<span>Salinas Group <a href="http://www.gruposalinas.com/en" target="_blank"><i class="fa fa-external-link"></i></a> | Mexico City, Mexico</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>Full-time junior developer for Salinas Group.<p>
	                      <p>Developed responsive web applications for Elektra and Blockbuster.</p>
	                      <p>Developed back-end APIs in Java and C#.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div> <!-- /timeline-panel -->
								</li>

								<li>
									<div class="posted-date">
										<span class="month">2014</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Developer Intern</h3>
												<span>Ford Motor Company <a href="http://corporate.ford.com/" target="_blank"><i class="fa fa-external-link"></i></a> | Mexico City, Mexico</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>Intern for the product development area.<p>
                        <p>Developed a Share point web application to assist product engineers.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div><!-- /timeline-panel -->
								</li>
								<!-------------------------->
							</ul>
						</div>
					</div>
				</div><!-- /row -->

				<div class="row">
					<div class="col-md-12">
						<div class="resume-title">
							<h3>Education</h3>
						</div>
						<div class="resume">
							<ul class="timeline">
								<li>
									<div class="posted-date">
										<span class="month">2015 - 2016</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Master's Degree</h3>
												<span>MSc. Computer Science | The University of Edinburgh</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>I completed a taught one year degree on <em>"High Performance Computing and Software Engineering".</em></p>
												<p> I got distinction in my thesis titled <em>"AirQueue a personal mobile application to visualize air quality in Scotland"</em> where I researched about data visualization applied to air quality.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div><!-- /timeline-panel -->
								</li>

								<li class="timeline-inverted">
									<div class="posted-date">
										<span class="month">2015 - 2016</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Bachelor's Degree</h3>
												<span>Bsc. Computer Science | Universidad del Valle de Mexico.</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>Computer Systems Engineering. Graduated with distinction.<p>
											  <p>I got distinction on the graduation exam (CENEVAL EGEL).</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div><!-- /timeline-panel -->
								</li>
							</ul>
						</div>
					</div>
				</div><!-- /row -->
</div>
