<div class="container">
				<h2 class="section-title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Resume</h2>
				<div class="row">
					<div class="col-md-12">
						<div class="resume-title">
							<h3>Experience</h3>
						</div>
						<div class="resume">
							<ul class="timeline">

								<li>
									<div class="posted-date">
										<span class="month">October 2016 - Present</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Software Engineer</h3>
												<span>Accenture | Monterrey, Mexico</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>Java consultant.<p>
	                      <p>Working on agile projects for Accenture international fortune 100 clients.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div> <!-- /timeline-panel -->
								</li>

								<li class="timeline-inverted">
									<div class="posted-date">
										<span class="month">2013 - 2014</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Scala Developer</h3>
												<span>Sumdog <a href="https://www.sumdog.com/" target="_blank"><i class="fa fa-external-link"></i></a> | Edinburgh, United Kingdom</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>Part-time student developer.<p>
	                      <p>Developed in Scala to provide logic for educational video games.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div><!-- /timeline-panel -->
								</li>

								<!-------------------------->

								<li>
									<div class="posted-date">
										<span class="month">2014 - 2016</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Software Developer</h3>
												<span>Self-Employed | Edinburgh, United Kingdom</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>Successfully launched over a <strong>dozen projects</strong>. The majority were developed using ASP.NET MVC, C#, SQL Server, and Entity Framework.</p>
												<p>Main projects included a web application for administrators, nurses, and surgeons in private hospitals; multi-language corporate website for multi-million Euro business; GPS-based nurse booking system.</p>
												<p>Followed every step of the development life-cycle while incorporating <strong>agile methodologies</strong> including constant client feedback and delivering working functionality weekly.</p>
												<p>Currently developing <strong>two personal projects</strong> - .NET-based football analytics website, and a WordPress baking website.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div> <!-- /timeline-panel -->
								</li>

								<li class="timeline-inverted">
									<div class="posted-date">
										<span class="month">2013 - 2014</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Lead Developer &amp; Business Advisor</h3>
												<span>The League of Ireland Blog | Cork, Ireland</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>Prepared a comprehensive <strong>35-page business plan</strong> for our start-up for investors which led to investment in the region of <strong>€37,000</strong>.</p>
												<p>Developed <strong>entire site</strong> featuring news, fixtures, results, dynamic league tables, live updates, administrative portal, and social media integration.</p>
												<p>Between its launch on the 29th of March 2014 and closing in November 2014 the site received over <strong>3 million hits, 45,000 unique visitors, and was mentioned in national newspapers</strong>.</p>
												<p>As a result of its success it was later <strong>merged with PunditArena</strong>.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div><!-- /timeline-panel -->
								</li>

								<li>
									<div class="posted-date">
										<span class="month">2010 - 2013</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Programming Tutor &amp; Lecturer</h3>
												<span>University College Cork | Cork, Ireland</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>Devised and delivered a <strong>full course</strong> in Java and Android programming.</p>
												<p>Worked alongside senior lecturers in the department to coordinate and deliver tutorials to <strong>over 120 students</strong> in UNIX scripting and Android programming.</p>
												<p>Grades increased <strong>13%</strong> year-on-year. </p>
												<p>Have also worked as a private programming tutor with <strong>over 200 students</strong> to date. Average grade received is a B+.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div> <!-- /timeline-panel -->
								</li>

								<li class="timeline-inverted">
									<div class="posted-date">
										<span class="month">2010</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Intern Programmer</h3>
												<span>Accenture | Dublin, Ireland</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>Wrote <strong>process and procedure documentation</strong> for the Broker team which detailed the installation and setup of servers, database maintenance tasks, server monitoring tools, and recovery.</p>
												<p>Created a <strong>SharePoint portal proof-of-concept</strong> for each team on the site using SharePoint Services 3, SQL Server 2005 and virtual machines.</p>
												<p>Developed a .NET <strong>data generator</strong> for the Technical Test team.</p>
												<p>Developed a .NET <strong>workflow automation tool</strong> for Help Desk users which consolidated data from numerous sources; used to resolve end user calls.</p>
												<p>Developed a .NET <strong>planned absence report generator</strong> for the 100+ staff.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div><!-- /timeline-panel -->
								</li>
							</ul>
						</div>
					</div>
				</div><!-- /row -->

				<div class="row">
					<div class="col-md-12">
						<div class="resume-title">
							<h3>Education</h3>
						</div>
						<div class="resume">
							<ul class="timeline">
								<li>
									<div class="posted-date">
										<span class="month">2011 - 2012</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Master's Degree - 4.0 GPA</h3>
												<span>MSc. By Research | University College Cork, Ireland</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>I completed a <strong>Design Science MSc.</strong> titled <em>"Technology Enhanced Programming Pedagogy"</em>.</p>
												<p>The work was split into four main segments: three months analyzing relevant literature; three months developing an interactive software environment; two months analyzing the results; four months writing a <strong>357-page thesis</strong>.</p>
												<p>The output was a substantial work validating the claims made by the literature over previous four decades.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div><!-- /timeline-panel -->
								</li>

								<li class="timeline-inverted">
									<div class="posted-date">
										<span class="month">2007 - 2011</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp" style="visibility: hidden; animation-name: none;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Bachelor's Degree - 3.5 GPA</h3>
												<span>BSc. Business Information Systems | University College Cork, Ireland</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>My final year project was an <strong>interactive e-learning web application to teach VB.NET to novice programmers.</strong></p>
												<p>I won the <strong>Microsoft .NET Project of the Year award</strong> for the most innovative final year project.</p>
												<p>The <strong>core modules</strong> included: Web Applications; Information Systems Security; Object-Oriented Programming; Operating Systems Software; Business Data Networks; Advanced Tools and Methods for IS Development; Systems Analysis and Design; Advanced Database Management Systems.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div> <!-- /timeline-panel -->
								</li>

								<li>
									<div class="posted-date">
										<span class="month">2001 - 2007</span>
									</div><!-- /posted-date -->

									<div class="timeline-panel wow fadeInUp" style="visibility: hidden; animation-name: none;">
										<div class="timeline-content">
											<div class="timeline-heading">
												<h3>Secondary School - 3.6 GPA</h3>
												<span>Irish Leaving Certificate | Colaiste Ghobnatan, Cork, Ireland</span>
											</div><!-- /timeline-heading -->

											<div class="timeline-body">
												<p>The Leaving Cert is the final examination in the Irish secondary school.</p>
												<p>I was awarded an <strong>'A' grade</strong> in English, Business Studies, Mathematics, and Technical Drawing. I also achieved <strong>'B' grades</strong> in Physics, Irish, and French.</p>
											</div><!-- /timeline-body -->
										</div> <!-- /timeline-content -->
									</div><!-- /timeline-panel -->
								</li>
							</ul>
						</div>
					</div>
				</div><!-- /row -->
</div>

<div class="container-fluid">
  <div class="row space">
        <div class="col-md-4" id="col1">
            <h2><span>Education<span></h2>
        </div>
        <div class="col-md-8" id="col2">
          <div class="row">
              <div class="col-sm-6">
                  <h3 class="bold">Student at University Of Edinburgh<h3>
                    <p>Msc Computer Science. Computer Systems, Software Engineering, and High Performance Computing<p>
                </div>
              <div class="col-sm-6">
                <h3 class="it">Edinburgh, Scotland</h3>
                <p>Expected graduation date: August 2016</p>
              </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="bold">Universidad del Valle de México Campus Toluca<h3>
                      <p>Computer Systems Engineering. Grade point average: 9.74 out of 10<p>
                  </div>
                <div class="col-sm-6">
                  <h3 class="it">Toluca, Mexico</h3>
                  <p>August 2010 ­ December 2014</p>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <h3 class="bold">Universidad del Valle de México Campus Toluca<h3>
                      <p>High school. Grade point average: 9.8 out of 10<p>
                    </div>
                  <div class="col-sm-6">
                    <h3 class="it">Toluca, Mexico</h3>
                    <p>August 2007 – August 2010</p>
                  </div>
                </div>
        </div>
    </div>
    <div class="row space">
          <div class="col-md-4" id="col1">
              <h2><span>Experience<span></h2>
          </div>
          <div class="col-md-8" id="col2">
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="bold">Java Back-End engineer at Accenture <a href="https://www.accenture.com/" target="_blank"><i class="fa fa-external-link"></i></a><h3>
                      <p>Java consultant.<p>
                      <p>Working on agile projects for Accenture international fortune 100 clients.</p>
                  </div>
                <div class="col-sm-6">
                  <h3 class="it">Monterrey, Mexico</h3>
                  <p>October 2016­ Present</p>
                </div>
              </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="bold">Scala Junior Developer at Sumdog <a href="https://www.sumdog.com/" target="_blank"><i class="fa fa-external-link"></i></a><h3>
                      <p>Part-time student developer.<p>
                      <p>Developed in Scala to provide logic for educational video games.</p>
                  </div>
                <div class="col-sm-6">
                  <h3 class="it">Edinburgh, United Kingdom</h3>
                  <p>February 2016­ June 2016</p>
                </div>
              </div>
            <div class="row">
                <div class="col-sm-6">
                    <h3 class="bold">Java Junior Developer at Salinas Group <a href="http://www.gruposalinas.com/en" target="_blank"><i class="fa fa-external-link"></i></a><h3>
                      <p>Full-time junior developer for Salinas Group.<p>
                      <p>Developed responsive web applications for Elektra and Blockbuster.</p>
                      <p>Developed back-end APIs in Java and C#.</p>
                  </div>
                <div class="col-sm-6">
                  <h3 class="it">Mexico City, Mexico</h3>
                  <p>January 2015­ June 2015</p>
                </div>
              </div>
              <div class="row">
                  <div class="col-sm-6">
                      <h3 class="bold">Internship at Ford Motor Company <a href="http://corporate.ford.com/" target="_blank"><i class="fa fa-external-link"></i></a> <h3>
                        <p>Intern for the product development area.<p>
                        <p>Developed a Share point web application to assist product engineers.</p>
                    </div>
                  <div class="col-sm-6">
                    <h3 class="it">Mexico City, Mexico</h3>
                    <p>September 2014­ January 2015</p>
                  </div>
                </div>
          </div>
      </div>
      <div class="row space">
            <div class="col-md-4" id="col1">
                <h2><span>Awards<span></h2>
            </div>
            <div class="col-md-8" id="col2">
              <div class="row">
                  <div class="col-sm-6">
                      <h3 class="bold">Recognition to outstanding students in science and acknowledgments technology​.<h3>
                        <p> ​COMECYT.<p>
                    </div>
                  <div class="col-sm-6">
                    <h3 class="it">Mexico City, Mexico</h3>
                    <p>January 2015­ June 2015</p>
                  </div>
                </div>
                <div class="row">
                    <div class="col-sm-6">
                        <h3 class="bold">Robocup Joao Pessoa 2014 <a href="http://www.robocup2014.org/" target="_blank"><i class="fa fa-external-link"></i></a><h3>
                          <p>Third international place (​Festo Logistics League​)<p>
                      </div>
                    <div class="col-sm-6">
                      <h3 class="it">Joao Pessoa, Brazil</h3>
                      <p>July 2014.</p>
                    </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <h3 class="bold">9nth UVM­Festo automation challenge<h3>
                          <p>First national place (​Mobile Robotics​)<p>
                        </div>
                      <div class="col-sm-6">
                        <h3 class="it">Toluca, Mexico</h3>
                        <p>August 2007 – August 2010</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <h3 class="bold">Robocup Eindhoven 2013  <a href="http://www.robocup2013.org/" target="_blank"><i class="fa fa-external-link"></i></a><h3>
                          <p>Participation on the Festo Logistics League<p>
                        </div>
                      <div class="col-sm-6">
                        <h3 class="it">Eindhoven, Netherlands</h3>
                        <p>July 2013</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <h3 class="bold">8th UVM­Festo automation challenge<h3>
                          <p>First National place (​Mobile Robotics​)<p>
                        </div>
                      <div class="col-sm-6">
                        <h3 class="it">Queretaro, Mexico</h3>
                        <p>October 2012</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <h3 class="bold">Robocup Mexico 2012 <a href="http://www.robocup2012.org/" target="_blank"><i class="fa fa-external-link"></i></a><h3>
                          <p>Third International place (​Festo Logistics League​)<p>
                        </div>
                      <div class="col-sm-6">
                        <h3 class="it">Mexico City, Mexico</h3>
                        <p>July 2012</p>
                      </div>
                  </div>
                  <div class="row">
                      <div class="col-sm-6">
                          <h3 class="bold">7th UVM­Festo automation challenge<h3>
                          <p>First National place (​Mobile Robotics​)<p>
                        </div>
                      <div class="col-sm-6">
                        <h3 class="it">Mexico City, Mexico</h3>
                        <p>October 2011</p>
                      </div>
                  </div>
            </div>
        </div>
        <div class="row space">
              <div class="col-md-3" id="col1">
                  <h2><span>Skills<span></h2>
              </div>
              <div class="col-md-8" id="col2">
                <div class="row">
                    <div class="col-sm-4">
                        <h3 class="bold">Networking​<h3>
                          <p>CISCO CCNA Routing and Switching <p>
                    </div>
                    <div class="col-sm-4">
                      <h3 class="bold">Programming languages</h3>
                      <p>​C, C#, Java, Scala </p>
                    </div>
                    <div class="col-sm-4">
                        <h3>Web develop<h3>
                        <p>PHP, HTML5, XML, CSS, JQuery, Ajax, JSON, Javascript, AngularJS<p>
                    </div>
                </div>
                    <div class="row">
                      <div class="col-sm-4">
                          <h3 class="bold">Mobile develop<h3>
                          <p>Android, Apache Cordova<p>
                      </div>
                      <div class="col-sm-4">
                          <h3 class="bold">Application servers<h3>
                          <p>Tomcat, Glasfish, JBoss<p>
                      </div>
                      <div class="col-sm-4">
                          <h3 class="bold">Database​<h3>
                          <p>MySQL, PostgreSQL, SQLServer<p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                          <h3 class="bold">Operating systems<h3>
                          <p>Windows, Linux (Fedora, Ubuntu, Debian)<p>
                      </div>
                      <div class="col-sm-4">
                          <h3 class="bold">Distributed computing<h3>
                          <p>Hadoop<p>
                      </div>
                      <div class="col-sm-4">
                          <h3 class="bold">IDE<h3>
                          <p>​Netbeans, Eclipse, Visual Studio<p>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-sm-4">
                          <h3 class="bold">Mobile robotics<h3>
                          <p>​ROS, Artificial vision (OpenCV, JavaCV, IJ), Expert Systems<p>
                      </div>
                      <div class="col-sm-4">
                          <h3 class="bold">Languages<h3>
                          <p>English:​ Advanced. Spanish: Native<p>
                      </div>
                    </div>

              </div>
          </div>
</div>
