<div class="container">
				<h2 class="section-title wow fadeInUp animated" style="visibility: visible; animation-name: fadeInUp;">Skills</h2>

				<div class="row space">
				              <div class="col-md-3" id="col1">
				              </div>
				              <div class="col-md-8" id="col2">
				                <div class="row">
				                    <div class="col-sm-4">
				                        <h3 class="bold">Networking​</h3><h3>
				                          <p>CISCO CCNA Routing and Switching </p><p>
				                    </p></h3></div>
				                    <div class="col-sm-4">
				                      <h3 class="bold">Programming languages</h3>
				                      <p>​C, C#, Java, Scala </p>
				                    </div>
				                    <div class="col-sm-4">
				                        <h3>Web develop</h3><h3>
				                        <p>PHP, HTML5, XML, CSS, JQuery, Ajax, JSON, Javascript, AngularJS</p><p>
				                    </p></h3></div>
				                </div>
				                    <div class="row">
				                      <div class="col-sm-4">
				                          <h3 class="bold">Mobile develop</h3><h3>
				                          <p>Android, Apache Cordova</p><p>
				                      </p></h3></div>
				                      <div class="col-sm-4">
				                          <h3 class="bold">Application servers</h3><h3>
				                          <p>Tomcat, Glasfish, JBoss</p><p>
				                      </p></h3></div>
				                      <div class="col-sm-4">
				                          <h3 class="bold">Database​</h3><h3>
				                          <p>MySQL, PostgreSQL, SQLServer</p><p>
				                      </p></h3></div>
				                    </div>
				                    <div class="row">
				                      <div class="col-sm-4">
				                          <h3 class="bold">Operating systems</h3><h3>
				                          <p>Windows, Linux (Fedora, Ubuntu, Debian)</p><p>
				                      </p></h3></div>
				                      <div class="col-sm-4">
				                          <h3 class="bold">Distributed computing</h3><h3>
				                          <p>Hadoop</p><p>
				                      </p></h3></div>
				                      <div class="col-sm-4">
				                          <h3 class="bold">IDE</h3><h3>
				                          <p>​Netbeans, Eclipse, Visual Studio</p><p>
				                      </p></h3></div>
				                    </div>
				                    <div class="row">
				                      <div class="col-sm-4">
				                          <h3 class="bold">Mobile robotics</h3><h3>
				                          <p>​ROS, Artificial vision (OpenCV, JavaCV, IJ), Expert Systems</p><p>
				                      </p></h3></div>
				                      <div class="col-sm-4">
				                          <h3 class="bold">Languages</h3><h3>
				                          <p>English:​ Advanced. Spanish: Native</p><p>
				                      </p></h3></div>
				                    </div>

				              </div>
				          </div>
</div>
